/* General */
/* Shouldn't be changed if possible */
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#main-content {
  padding-bottom: 2.5rem;
}

/* Navigation Bar */
ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: #333;
}

.name {
  float: left;
  padding-left: 15px;
}

.name li {
  padding: 10px;
  color: white;
  font-size: 20px;
}

.name a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.name a:hover {
  color: red;
  opacity: .85;
}

.logo img{
  height: 47.5px;
  float: left;
  margin-right: 12.5%;
}

.main {
  float: left;
}

.main, #dropbtn {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-top: 2.5px solid #333;
  transition: 0.3s;
}

.main:hover, .dropdown:hover #dropbtn {
  border-top: 2.5px solid red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  margin-left: 2.5%;
  margin-top: 3.75%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #e8e8e8;
  border-bottom: 2px solid red;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #d1d1d1;
}

/* Login button */
.login {
  float: right;
  margin-right: 2.5%;
  border: 2.5px solid #333;
  padding: 7.5px 16px;
}

.login a {
  display: inline-block;
  color: white;
  font-size: 17.5px;
  text-decoration: none;
  transition: 0.5s;
}

.login:hover a {
  transform: translateX(-15px);
  color: red;
}

.login span {
  display: none;
  font-size: 20px;
}

.login:hover span {
  display: inline-block;
  color: white;
 }

/* Content */
.intro article {
  position: absolute;
  top: 125px;
  margin-left: 40px;
  padding: 20px 0px 20px 20px;
  width: 70%;
  background-color: rgba(236, 236, 236, 0.9);
}

.link {
  margin: 2.5% 0%;
}

.link a {
  color: white;
  text-decoration: none;
  background-color: #333;
  padding: 10px 15px;
}

.link a:hover {
  color: red;
  text-decoration: none;
}

.content ul {
  list-style-type: disc;
}

.content li a, p:not(.link) a {
  color: red;
  text-decoration: none;
}

.content li a:hover, p:not(.link) a:hover {
  text-decoration: underline;
}

/* Footer */
/* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 12.5px;
  color: white;
  background-color: #333;
}

/* Specific Content Starts Here */

/* Home page */
.main-intro {
  text-align: center;
  line-height: 1px;
}

#main-intro {
  background: url("../images/home_intro.jpg") no-repeat fixed;
  background-size: 100% 500px;
  background-position: center 25%;
  filter: blur(.5px);
  height: 350px;
  margin: 2.5px 0px;
}

.main-intro article {
  position: absolute;
  top: 125px;
  left: 150px;
  background-color: rgba(240, 240, 240, 0.95);
  padding: 20px 0px;
  width: 75%;
}

.main-intro h1 {
  font-size: 4.5em;
}

.main-intro p {
  font-size: 20px;
}

.grid-content {
  background-color: rgb(240,240,240);
  padding: 50px 100px;
  text-align: center;
}

.grid-items {
  display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 1px 7.5px grey;
  margin: 50px 25px;
	text-align: center;
  padding: 10px;
}

.grid-content a {
  color: #333;
  text-decoration: none;
  transition: 0.25s;
}

.grid-content a:hover {
  color: red;
}

.grid-content a:hover p{
  text-decoration: dotted underline;
}

.grid-content i {
  font-size: 50px;
  padding: 20px;
}

.grid-content p {
  font-size: 1.25em;
}

/* Finance page */
#fin-intro {
  background: url("../images/finance_intro.jpg") no-repeat scroll;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: blur(1.5px) brightness(0.75);
  border: 1px solid rgba(255,255,255,0.5);
}

/* Accomodation page */
#acc-intro {
  background: url("../images/accommodation_intro.jpg") no-repeat scroll;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: blur(1.5px);
  border: 1px solid rgba(255,255,255,0.5);
}

/* Transportation page */
#trans-intro {
  background: url("../images/transport_intro.jpg") no-repeat scroll;
  background-size: 100% 150%;
  background-position: center 100%;
  height: 300px;
  filter: blur(2.5px);
  border: 1px solid rgba(255,255,255,1);
}

/* Health page */
#health-intro {
  background: url("../images/health_intro.jpg") no-repeat scroll;
  background-size: cover;
  background-position: center 75%;
  height: 300px;
  filter: blur(.25px);
  border: 1px solid rgba(255,255,255,1);
}

/* Social page */
#social-intro {
  background: url("../images/social_intro.jpg") no-repeat scroll;
  background-size: cover;
  background-position: center 17.5%;
  height: 300px;
  filter: blur(.25px);
  border: 1px solid rgba(255,255,255,1);
}
/* Discussion page */

/* For development use only
#alert {
  font-size: 100px;
  color : rgb(255, 187, 0);
}

.development {
  text-align: center;
  padding-top: 150px;
}*/

#discuss-intro {
  background: url("../images/discuss_intro.jpg") no-repeat scroll;
  background-size: cover;
  background-position: 100% 50%;
  height: 300px;
  filter: blur(.25px);
  border: 1px solid rgba(255,255,255,1);
}

.topic {
  margin-top: 1.5%;
  border: 5px solid #dddddd;
  margin: 1.5%;
  padding: 0px 10px;
  padding-bottom: 20px;
}

.topic h2{
  text-decoration: underline;
}

.chat {
  background-color: #f1f1f1; 
}

.chat1, .chat2, .chat3 {
  padding-right: 10px;
}

.chat1 {
  padding-left: 10px;
}

.chat2 {
  padding-left: 20px;
}

.chat3 {
  padding-left: 30px;
}

.user {
  border-bottom: 1px solid red;
  width: 52.5px;
  padding: 5px 10px;
}

.user img {
  border-radius: 50%;
  height: 50px;
  vertical-align: middle;
  margin: 0 auto;
}

.username {
  text-align: center;
  font-size: 15px;
}

.time {
  text-align: right;
  display: block;
}

.divider {
  width: 98.5%;
}

/* Login page */
#selection {
  margin-top: 12.5%;
}

#selection button {
  display: block;
  width: 250px;
  padding: 10px 0px;
  font-size: 20px;
  background-color: rgb(97, 97, 97);
  border: 1px solid rgb(97, 97, 97);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  margin: 15px auto;
}

#selection a {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

#selection a:hover {
  color: rgb(255, 55, 55);
}

#signup-form {
  display: none;
}

form {
  width: 50%;
  margin: 2.5% auto;
}

fieldset {
  padding: 25px;
}

.hr {
  margin-bottom: 25px;
}

input {
  width: 97%;
  padding: 10px;
  margin: 10px 0 25px 0;
  display: inline-block;
  border: none;
  background: #e8e8e8;
  transition: 0.5s;
}

input:focus {
  outline-color: red;
}

.required {
  color: red;
  margin-left: 2.5px;
}

form button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

form button:hover {
  opacity:1;
}

.cancel {
  padding: 14px 10px;
  background-color: #f44336;
}

.cancel, .sign-up {
  float: left;
  width: 50%;
}
